body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
}

.game-container {
    text-align: center;
}

#gameCanvas {
    background-color: #111;
    border: 2px solid #fff;
    display: block;
    margin: 0 auto;
}

#score {
    margin-top: 20px;
    font-size: 24px;
}

#pauseButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
}

.button-container {
    text-align: center;
}

.image-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.image-button img {
    width: 50px;  /* Puedes ajustar el tamaño según lo necesites */
    height: 50px;
}

.image-button img:hover {
    transform: scale(1.1);  /* Efecto de agrandamiento al pasar el cursor */
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los botones */
}

.btn {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #e55b50;
}
